* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#name {
    color: #ffffff;
    background: maroon;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    line-height: 90px;
    padding: 0px 20px 0px 20px;
}

#heading {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 960px;
}

main {
    color: #777777;
    font-size: 19px;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #ffffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px;
    width: calc(100% - 40px);
    border: 1px solid #dddddd;
    max-width: 960px;
}

main:after {
    content:"";
    display: block;
    clear: both;
}

header {
    border-bottom: 2px solid #cccccc;
    background: #ffffff;
    height: auto;
    width: 100%;
    overflow: auto;
}

h1 {
    color: maroon;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline-block;
}  

main h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

footer {
    color: #ffffff;
    background: #666666;
    text-align: center;
    line-height: 85px;
    border-top: 5px solid maroon;
    height: 60px;
    width: 100%;
}

nav {
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

li {
    display: inline;
    line-height: 85px;
}

#about, #portfolio, #contact, #linkedin, #github{
    font-size: 19px;
    text-decoration: none;
    color: #777777;
    clear: both;
}

#submit {
    color:#ffffff;
    background: maroon;
    border: none;
    font-size: 19px;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
}

#profpic {
    float: left;
    width: 200px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

body {
    background: url("../images/hexellence.png") repeat;
}

.crux {
    min-height: calc(100vh - 80px);
}

hr {
    border: 0;
    border-top: 2px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

form {
    margin-top: 25px;
}

input {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.box {
    width: 100%;
    border: 1px solid #cccccc;
}

textarea {
    margin-top: 5px;
    height: 200px;
}

#about {
    margin-right: 10px;
}

#portfolio {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#contact {
    margin-left: 10px;
}

p{
    margin-top: 25px;
    line-height: 1.6em;
}

.project {
    float: left;
    display: block;
    text-decoration: none;
    width: calc(50% - 20px);
    height: 100%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 15px;
}

.left {
    margin-right: 20px;
}

.right{
    margin-left: 20px;
}

.project img {
    width: 100%;
    height: 100%;
}

.project h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: normal;
    color: #ffffff;
    background: maroon;
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}
@media screen and (max-width: 980px) {
    #profpic{
        width: 33.33%;
    }
}
@media screen and (max-width: 768px) {
    #profpic{
        width:50%;
    }
}
@media screen and (max-width: 640px) {
    #name{
        width:100%;
        text-align: center;
    }
    nav{
        width:100%;
        text-align: center;
        margin-right: 0px;
    }
    #profpic{
        width:100%;
    }
    .project{
        width:100%;
        height:100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

#github{
    border-left: 1px solid #cccccc;
    padding-left: 5px;
}

#secondary-links{
    float: right;
    display: inline-block;
}